.block {
  margin-bottom: 50px !important;
  width: 100%;
}

.alginwide {
  margin: 0 auto;
  max-width: $block-wide;
}

.aligncenter {
  margin: 0 auto;
  max-width: $block-center;
}

.alignfull {
  width: 100%;
}
