.block {
  margin-bottom: 50px !important;
  width: 100%;

  &[data-align='left'] {
    .content {
      text-align: left;
    }
  }

  &[data-align='middle'] {
    .content {
      text-align: center;
    }
  }

  &[data-align='right'] {
    .content {
      text-align: right;
    }
  }
}

.alignwide {
  margin: 0 auto;
  max-width: $block-wide;
}

.aligncenter {
  margin: 0 auto;
  max-width: $block-center;
}

.alignfull {
  width: 100%;
}

