{% extends "base/block.twig" %}
{% set heading = fields.heading.heading %}
{% set data = {
	text: heading.text,
	type: heading.type,
	size: heading.size,
	align_text: align_text,
	color: colors.text
} %}

{% block block_content %}
	{% if data.text  %}
		{{include('components/text/headline.twig', { data: data })}}
	{% else %}
		{% if is_preview %}
			{% if example.heading.text %}
				{# @todo: use correct examples #}
				{{include('components/text/headline.twig', { data: {
					text: example.heading.text,
					type: example.heading.type,
					size: example.heading.size
				 }})}}
			{% else %}
				<div class="p-4 border-dashed border text-gray-500 text-center border-gray-800 bg-gray-50 w-full">
					<p>Voer een heading in</p>
				</div>
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock %}
