{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: blockname,
	size: size,
	visible:visible
  }
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{% if props.data ?? null %}
	<div data-block-id="{{ props.data.name }}" class="block{{classes}}">
		{{ include('components/spacer/spacer.twig', {
    		data: {
      			variant: props.data.size ?? 'sm',
	  			visible: props.data.visible ?? false,
    		},
  		}, withContext = false) }}
	</div>
{% endif %}
