{#
    ====================================================================
    Name:           pagination.twig
    Type:           pagination
    Since:          0.0.1
    Description:    A pagination to us on different pages
    Available vars: page, site
    ====================================================================
#}

{% block content %}

	<nav class="pagination">
		{{ site.getPagination()|raw }}
	</nav>

{% endblock %}
