# NEW SERVER VERSION
# Add these lines to load media files from production server if they don't exist locally
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f [NC]
	RewriteCond %{REQUEST_URI} ^/content/uploads/[^/]+/
	RewriteRule (.*) https://remotesite.com/content/uploads/$1 [NC,L]
</IfModule>

# OLD SERVERS VERSION
# Add these lines to load media files from production server if they don't exist locally
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^content/uploads/(.*)$ https://remotesite.com/content/uploads/$1 [NC,L]
</IfModule>
