.btn {
  background: $button;
  color: $button-text;
  display: inline-block;
  font-family: $body-font;
  font-weight: 400;
  margin-top: 30px;
  padding: 15px 20px;
  text-decoration: none;
  transition: all 120ms ease-in-out;

  &:hover {
    background: lighten($button, 7%);
  }
}

.wp-block-button {
  display: inline-block;
  font-family: $body-font;

  &__link {
    border-radius: 0;
    white-space: pre-wrap;
  }

  &.alignleft {
    margin-right: 20px;
  }
}


