// sass-lint:disable class-name-format no-misspelled-properties

// ///////////////////////////////////////////////
// //////    GRAVITY FORMS RESET STYLES     //////
// ///////////////////////////////////////////////

.gform_wrapper {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
}

.gform_title {
  margin-bottom: 3rem;
}

// Reset error
.gform_validation_container {
  display: none !important;
}

.validation_error {
  background: #fff;
  border: 3px solid #f00;
  margin: 0 0 18px;
  padding: 8px 12px;
}

.gform_fields {
  box-sizing: border-box;

  .gfield {
    margin-bottom: 2rem;

    input, 
    select,
    textarea {
      appearance: none;
      border: 1px solid #333;
      border-radius: 0;
      box-sizing: border-box;
      padding: 0.5rem;
      position: relative;
      width: 100%;

      &:focus {
        appearance: none;
        border-radius: 0 !important;
      }

      &::placeholder {
        color: #ccc;
      }
    }

    // Select field
    select {
      appearance: none;
      background: #fff url('../img/select-arrow.svg') center right no-repeat;
      background-size: 20px auto;
    }

    .ginput_container_multiselect {
      select {
        background: none;
      }
    }

    // Multi field
    .clear-multi {
      display: inline-flex !important;
      flex-wrap: wrap;
      gap: 1rem;
      width: 100%;

      .ginput_container {
        flex: 1;

        label {
          font-size: 0.8rem;
        }

        input,
        select {
          width: 100%; 
        }
      }

      .gfield_time_hour {
        position: relative;

        i {
          font-style: normal;
          left: 100%;
          margin: 8px 0 0 5px;
          position: absolute;
          top: 17px;
        }
      }
    }

    .ginput_container_fileupload {
      max-width: 100%;
      overflow: hidden;

      input {
        border: 0;
        padding: 0;
      }
    }

    // Error messages

    &.gfield_error {
      background: none !important;
      border: 0 !important;

      .gfield_label .gfield_required {
        color: #f00;
      }

      .ginput_container {
        input:not([type=checkbox]):not([type=radio]), 
        textarea {
          border: 3px solid #f00;
        }
      }

      .validation_message {
        color: #f00;
        font-size: .8rem;
        margin-top: 0.5rem;
        padding-left: 15px;
        padding-top: 0;
        position: relative;

        &::before {
          color: #f00;
          content: '+';
          font-size: 1.2rem;
          left: 0;
          position: absolute;
          top: -5px;
          transform: rotate(45deg);
        }
      }

      .has_prefix + .validation_message {
        margin-left: 20.6%;
      }
    }

    .gform_wrapper li.gfield.gfield_error, 
    .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
      background: none;
      border: 0;
    }
  }

  // Address field
  .ginput_container_address {
    display: flex !important;
    flex-wrap: wrap;

    span {
      display: block;
      margin-bottom: 1rem;

      label {
        font-size: 0.8rem;
      }

      &.ginput_full {
        width: 100%;
      }

      &.ginput_left,
      &.ginput_right {
        width: calc(50% - 0.5rem);
      }

      &.ginput_right {
        margin-left: 1rem;
      }
    }
  }

  // Checkboxes and Radios
  .gfield_checkbox,
  .gfield_radio {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0.5rem;
      position: relative;

      input {
        display: inline-block;
        margin-right: 0.1rem;
        width: auto;
      }

      label {
        margin: -1.3rem 0 0;
        padding-left: 1.5rem;
        position: relative;
      }
    }
  }

  .gfield_radio {
    input {
      border-radius: 50%;
    }
  }

  // name field
  .ginput_container_name {
    display: inline-flex !important;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    span {
      flex: 1;

      &.name_first,
      &.name_last {
        flex-grow: 2;
      }

      label {
        font-size: 0.8rem;
      }

    }
  }

  ///////////////
  // LABEL TOP //
  ///////////////
  &.top_label {
    display: block;
    width: 100%;

    label {
      display: block;
      margin-bottom: 0.3rem;
    }
  }

  ////////////////
  // LABEL LEFT //
  ////////////////
  &.left_label {

    .gfield {

      @include media-max($mobile) {
        display: block;
      }

      display: flex;
      position: relative;

      &.gfield_html {
        @include media-max($mobile) {
          margin-left: 0;
        }

        margin-left: 200px;
      }

      &.gfield_error {
        padding-bottom: 1.5rem;

        .validation_message {
          bottom: 0;
          left: 200px;
          position: absolute;
        }

        .has_prefix + .validation_message {
          margin-left: 18%;
        }
      }
    }

    label {

      @include media-max($mobile) {
        margin-bottom: 0.5rem;
        padding-top: 0;
      }

      float: left;
      min-width: 200px;
      padding-top: 7px;
      width: 15%;
    }

    .ginput_container {
      display: inline-block;
      width: 100%;

      .gfield_checkbox,
      .gfield_radio {

        li {
          width: 100%;

          &::after {
            clear: both;
            content: '';
            display: table;
          }
        }

        label {
          @include media-max($mobile) {
            margin: 0;
          }

          float: left;
          margin: -0.4rem 0 0;
          padding-left: 0.3rem;
        }

        input {
          float: left;
          margin-right: .1rem;
          width: auto;
        }
      }
    }
  }
}

.gform_footer {
  width: 100%;

  input {
    display: block;
    padding: 0.5rem 1rem;
  }
}

////////////////////
// UI DATEPICKER ///
////////////////////

.ui-datepicker {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  font: .9rem Arial, sans-serif;
  height: auto;
  margin: 0 auto;

  a {
    text-decoration: none;
  }
}

// DatePicker Table
.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  background: #333;
  border: 1px solid #111;
  box-shadow: inset 0 1px 1px 0 rgba(250, 250, 250, .2);
  color: #e0e0e0;
  filter: dropshadow(color=#000, offx=1, offy=-1);
  font-weight: bold;
  line-height: 30px;
  text-shadow: 1px -1px 0 #000;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-prev, 
.ui-datepicker-next {
  background: url('../img/arrow.png') 0 0 no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 600%;
  overflow: hidden;
  text-align: center;
  width: 30px;
}

.ui-datepicker-prev {
  background-position: center -30px;
  float: left;
}

.ui-datepicker-next {
  background-position: center 0;
  float: right;
}

.ui-datepicker thead {
  background-color: #f7f7f7;
  border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
  color: #666;
  filter: dropshadow(color=#fff, offx=1, offy=0);
  font-size: 1rem;
  padding: 5px 0;
  text-shadow: 1px 0 0 #fff;
  text-transform: uppercase;
}

.ui-datepicker tbody td {
  padding: 0;
}

.ui-datepicker tbody td:last-child {
  border-right: 0;
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0;
}

.ui-datepicker td span, 
.ui-datepicker td a {
  color: #666;
  display: inline-block;
  filter: dropshadow(color=#fff, offx=1, offy=1);
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
  box-shadow: inset 1px 1px 0 0 rgba(250, 250, 250, .5);
}

.ui-datepicker-calendar .ui-state-hover {
  background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
  background: #333;
  border: 1px solid #333;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .1);
  color: #e0e0e0;
  margin: -1px;
  position: relative;
}

.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
  margin-left: 0;
  width: 29px;
}

.ui-datepicker-calendar td:last-child .ui-state-active {
  margin-right: 0;
  width: 29px;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0;
}
