{% extends "./blocks/wrapper-block.twig" %}

{% block content %}

	{{include('includes/heading.twig', { 
			data: { 
				text: fields.heading.text, 
				type: fields.heading.type 
			}
		}, with_context = false)}}

	{{include('includes/prose.twig', {
			data: {
				content: fields.copy,
			}
		}, with_context = false)}}

	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
		{% for item in fields.stats %}
			<div>
				{{include('includes/heading.twig', { 
						data: { 
							text: item.heading, 
							type: 'div'
						}
					}, with_context = false)}}
				{{include('includes/prose.twig', {
						data: {
							content: fields.copy,
						}
					}, with_context = false)}}
			</div>
		{% endfor %}
	</div>
{% endblock %}
