{% set block = {
	data: {
		align: align|default('none'),
	},
	align: {
		none: 'max-w-screen-lg',
		wide: 'max-w-screen-xl',
		full: 'max-w-none',
	},
} %}

<div class="acf-block acf-block__{{blockname}} mx-auto {{block.align[block.data.align]}} ">
	{% block block_content %}
		This is our block placeholder
	{% endblock %}
</div>
