{% set data = {
	id: attributes.id,
	class: attributes.class,
	align: attributes.alignment.align|default('none'),
} %}

<div data-name="{{ blockname }}" {% if data.id %} data-anchor="{{data.id}}" {% endif %} class="block align{{data.align}} isolate {{data.class}}">
	{% include "components/preview.twig" %}

	{% block content %}
		hallo
	{% endblock %}

</div>
