{% extends "./blocks/wrapper-block.twig" %}
{% block content %}

	<div class="px-4 sm:px-0">
		{{include('includes/heading.twig', { 
			data: { 
				text: fields.heading.text, 
				type: fields.heading.type 
			}
		}, with_context = false)}}
		<div class="max-w-2xl prose">{{fields.copy|raw}}</div>
	</div>

	<div class="mt-6 border-t border-gray-100">
		<dl class="divide-y divide-gray-100">
			{% for item in fields.list_items %}
				<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
					<dt class="text-base font-semibold leading-7">{{item.dt}}</dt>
					<dd class="sm:col-span-2 sm:mt-0">
						{{include('includes/prose.twig', {
							data: {
								content: item.dd,
							}
						}, with_context = false)}}
					</dd>
				</div>
			{% endfor %}
		</dl>
	</div>
{% endblock %}
