{# 
    ====================================================================
    Name:           custom-block.twig
    Type:           Block 
    Since:          0.0.1
    Description:    A custom block
    Available vars: id (of block), classes (of block), {fields by key}, site
    ====================================================================
#}

<div class="custom-block">
	<h2>Header image block</h2>
</div>
