{% extends "base/block.twig" %}

{# TODO Remove/change custom class based on project #}

{% block block_content %}
	{% if fields.wysiwyg_content %}
		{{include('components/text/text.twig', {
			data: {
				text: fields.wysiwyg_content,
				columns: fields.columns,
				size: fields.size,
			},
			classes: {
				custom: 'my-8'
			}
		})}}
	{% else %}
		{% if is_preview %}
			<div class="p-4 border-dashed border text-gray-500 text-center border-gray-800 bg-gray-50 w-full">
				<p>Voer een tekst in</p>
			</div>
		{% endif %}
	{% endif %}
	
{% endblock %}
