{% extends "base/block.twig" %}

{% block block_content %}

	<div class="{{classes}}">
		<div class="prose text-gray-800 max-w-none">
			{{fields.wysiwyg_content|raw}}
		</div>
	</div>

{% endblock %}
