{# Template Name: Kitchensink #}

{% extends "base/base.twig" %}

{% block content %}

	<div class="container">
		<div class="prose">
			<h1>Prose typography plugin</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates tempora ratione ut voluptatibus eaque quas modi ex non delectus soluta dolores voluptatem vel rerum, iure harum inventore reiciendis illum aliquid!</p>
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<h5>Heading 5</h5>
			<h6>Heading 6</h6>
		</div>
	</div>

{% endblock %}
