{# 
    ====================================================================
    Name:           page.twig
    Type:           Page (default template)
    Since:          0.0.1
    Description:    The default page template
    Available vars: page, site
    ====================================================================
#}

{% extends "base/base.twig" %}

{% block content %}
	{{page.content|raw}}


	<h3 class="text-3xl font-bold" x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h3>
	{{ include ('components/divider/divider.twig') }}

{% endblock %}
