{# 
    ====================================================================
    Name:           page.twig
    Type:           Page (default template)
    Since:          0.0.1
    Description:    The default page template
    Available vars: page, site
    ====================================================================
#}

{% extends "base/base.twig" %}

{% block content %}
	<div class="blocks-wrapper">
		{{page.content|raw}}
	</div>

	<h3 class="text-3xl font-bold" x-data="{ message: 'I ❤️ Buro voor de Boeg' }" x-text="message"></h3>

{% endblock %}
