{# 
    ====================================================================
    Name:           page.twig
    Type:           Page (default template)
    Since:          0.0.1
    Description:    The default page template
    Available vars: page, site
    ====================================================================
#}

{% extends "base/base.twig" %}

{% block content %}
	<div class="container bg-green-100">
		{{page.content|raw}}
	</div>

	{% include "components/button.twig" %}
	<br><br>
	{% include "components/image.twig" with {
		id: page.image.id
	} %}
{% endblock %}
