{# 
    ====================================================================
    Name:           page.twig
    Type:           Page (default template)
    Since:          0.0.1
    Description:    The default page template
    Available vars: page, site
    ====================================================================
#}

{% extends "base/base.twig" %}

{% block content %}
	{% include "components/text/headline.twig" with {
		data: {
			text: page.title,
			variant: 'mega',
			tag: 'h1'
		}
	}%}

	{{page.content|raw}}


	<h3 class="text-3xl font-bold" x-data="{ message: 'I ❤️ Buro voor de Boeg' }" x-text="message"></h3>

{% endblock %}
