{# 
    ====================================================================
    Name:           custom-block.twig
    Type:           Block 
    Since:          0.0.1
    Description:    A custom block
    Available vars: id (of block), classes (of block), {fields by key}, site
    ====================================================================
#}

<div class="block block-custom {{classes}}">
	<div class="container">

		{% include "partials/heading.twig" %}

		{% include "partials/button.twig" %}

		{% include "partials/image.twig" with {
			ratio: 'is-1by1',
		} %}

	</div>
</div>
