<article>
	<header>
		<h3>Post title</h3>
	</header>
	<main>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, fugiat pariatur beatae qui provident aliquid voluptatibus corporis expedita, magnam iste unde libero, voluptatum soluta odio sapiente voluptatem aut quaerat perferendis!</p>
	</main>
	<footer>
		<a href="/">Lees meer</a>
	</footer>
</article>
