{% import "macros/media.twig" as media %}

{% set alignment = {
	'none' : 'max-w-5xl',
	'wide' : 'max-w-7xl',
	'full' : 'max-w-none'
} %}

<div data-block-id="{{ blockname }}" class="relative my-32">
	<div class="mx-auto {{alignment[attributes.alignment.align|default('none')]}}">
		<div class="relative aspect-w-16 aspect-h-9 {{ fields.video_options.cover ? 'xl:absolute xl:inset-0'}}">
			{{media.videoUrl(fields.video_url,  fields.video_options, '', is_preview) }}
		</div>
	</div>
</div>
