{% extends "base/block.twig" %}

{# Import macros #}
{% import "macros/typography.twig" as type %}

{% block content %}

	<div class="px-4 sm:px-0">
		{{type.heading(fields.heading)}}
		<div class="max-w-2xl prose">{{fields.copy|raw}}</div>
	</div>

	<div class="mt-6 border-t border-gray-100">
		<dl class="divide-y divide-gray-100">
			{% for item in fields.list_items %}
				<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
					<dt>{{item.dt}}</dt>
					<dd class="sm:col-span-2 sm:mt-0 prose  max-w-none">{{item.dd|raw}}</dd>
				</div>
			{% endfor %}
		</dl>
	</div>
{% endblock %}
