{# Include spacing macro #}
{% import "macros/spacing.twig" as spacing %}


{# Set Root Classes #}
{% set classes = ['block'] %}

{# Set Block Align Classes #}
{% set blockalign = {
	'right': 'alignright',
	'center': 'aligncenter',
	'left': 'alignleft',
	'wide': 'alignwide',
	'full': 'alignfull'
}[attributes.alignment.align] ?? 'alignnone' %}
{% set classes = classes|merge([blockalign]) %}

{# Set Text Align Classes if available #}
{% if attributes.alignment.aligntext %}
	{% set textalign = {
		'right': 'text-right',
		'center': 'text-center',
		'left': 'text-left'
	}[attributes.alignment.aligntext] %}
	{% set classes = classes|merge([textalign]) %}
{% endif %}

{# Set Text Align Classes if available #}
{% if attributes.alignment.fullheight %}
	{% set fullheight = 'h-screen' %}
	{% set classes = classes|merge([fullheight]) %}
{% endif %}

{# Set spacing #}
{% set classes = classes|merge([spacing.paddingtop(attributes.spacing.padding.top)]) %}
{% set classes = classes|merge([spacing.paddingbottom(attributes.spacing.padding.bottom)]) %}
{% set classes = classes|merge([spacing.paddingleft(attributes.spacing.padding.left)]) %}
{% set classes = classes|merge([spacing.paddingright(attributes.spacing.padding.right)]) %}

{% set classes = classes|merge([spacing.margintop(attributes.spacing.margin.top)]) %}
{% set classes = classes|merge([spacing.marginbottom(attributes.spacing.margin.bottom)]) %}
{% set classes = classes|merge([spacing.marginleft(attributes.spacing.margin.left)]) %}
{% set classes = classes|merge([spacing.marginright(attributes.spacing.margin.right)]) %}


{# Set Custom Classes last #}
{% if attributes.class %}
	{% set classes = classes|merge([attributes.class]) %}
{% endif %}

{# Join all classes #}
{% set classes = classes|join(' ') %}

{# Return HTML #}
<div data-name="{{ blockname }}" {% if attributes.id %} data-anchor="{{attributes.id}}" {% endif %} class="{{classes}}">
	{% include "components/preview.twig" %}
	{% block content %}{% endblock %}
</div>
