{# Include spacing macro #}
{% import "macros/spacing.twig" as spacing %}

{# Set Root Classes #}
{% set classes = ['block'] %}

{# Set Block Align Classes #}
{% set blockalign = {
	'right': 'alignright',
	'center': 'aligncenter',
	'left': 'alignleft',
	'wide': 'alignwide',
	'full': 'alignfull'
}[attributes.alignment.align] ?? 'alignnone' %}
{% set classes = classes|merge([blockalign]) %}

{# Set Text Align Classes if available #}
{% if attributes.alignment.aligntext %}
	{% set textalign = {
		'right': 'text-right',
		'center': 'text-center',
		'left': 'text-left'
	}[attributes.alignment.aligntext] %}
	{% set classes = classes|merge([textalign]) %}
{% endif %}

{# Set Text Align Classes if available #}
{% if attributes.alignment.fullheight %}
	{% set fullheight = 'h-screen' %}
	{% set classes = classes|merge([fullheight]) %}
{% endif %}

{# Set Custom Classes last #}
{% if attributes.class %}
	{% set classes = classes|merge([attributes.class]) %}
{% endif %}

{# Set padding #}
{% set classes = classes|merge([spacing.padding(attributes.spacing)|spaceless]) %}

{# Set margin #}
{% set classes = classes|merge([spacing.margin(attributes.spacing)|spaceless]) %}

{# Join all classes #}
{% set classes = classes|join(' ') %}

{# Return HTML #}

<div data-name="{{ blockname }}" {% if attributes.id %} data-anchor="{{attributes.id}}" {% endif %} class="{{classes}} {% block wrapperclass %}{% endblock %}">
	{% include "components/preview.twig" %}
	{% set is_preview = is_preview %}
	{% block content %}{% endblock %}
</div>
