{% extends "base/block.twig" %}

{# Import macros #}
{% import "macros/media.twig" as media %}
{% import "macros/typography.twig" as type %}

{# Set number of columns #}
{% set columns = {
	2: 'lg:columns-2 gap-16',
	3: 'lg:columns-3 gap-16',
	4: 'lg:columns-2 xl:columns-4 gap-16',
} %}

{% block content %}

	{% if fields.heading %}
		{{type.heading(fields.heading, 'text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl')}}
	{% endif %}

	<div class="prose max-w-none {{columns[fields.content_options.columns]}} ">
		{{fields.content|raw}}
	</div>

{% endblock %}
