{% import "macros/media.twig" as media %}

{% set columns = {
	2: 'lg:columns-2 gap-16',
	3: 'lg:columns-3 gap-16',
	4: 'lg:columns-2 xl:columns-4 gap-16',
} %}

<div data-block-id="{{ blockname }}" class="bg-slate-50 px-6 py-32 lg:px-8">

	{% if fields.heading %}
		In mollit sint non irure in pariatur Lorem sint anim laborum ipsum amet laboris laboris. Cupidatat labore commodo ut in ipsum non laborum qui eiusmod dolore esse amet velit officia. Incididunt labore in officia veniam commodo. Commodo voluptate amet labore in cillum ad sit cupidatat aute ea consequat. Sit qui officia ex deserunt aute pariatur dolor magna Lorem. Tempor dolore esse velit commodo deserunt ad cillum occaecat. Enim non irure ex. Duis occaecat irure quis sunt exercitation id in consectetur cillum dolor.
		<div class="mx-auto max-w-7xl mb-6">
			<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{{fields.heading|raw}}</h1>
		</div>
	{% endif %}

	<div class="mx-auto max-w-7xl {{columns[fields.content_options.columns]}} prose">
		{{fields.content|raw}}
	</div>

</div>
