@import '../../../../../dev/sass/base/config';

.block--header-image {
  position: relative;

  .image {
    .overlay {
      display: block;
      height: 100%;
      left: 0;
      mix-blend-mode: multiply;
      opacity: .9;
      position: absolute;
      top: 0;
      width: 100%;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  .content {
    bottom: 100px;
    color: $white;
    left: 100px;
    position: absolute;
    width: 70%;
  }
}


