
{% import "macros/media.twig" as media %}
{% import "macros/buttons.twig" as button %}

<div class="bg-gray-900">

  <div class="relative isolate overflow-hidden pt-14 px-8">
    
	{{media.wpimage(fields.image, 'full', 'absolute inset-0 -z-10 h-full w-full object-cover', is_preview)}}
   
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
    	<div class="text-center">
        	<h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">{{fields.title|raw}}</h1>
			{% if fields.copy %}
				<div class="mt-6 text-lg leading-8 text-gray-300">{{fields.copy|raw}}</div>
			{% endif %}
			{% if fields.button %}
				<div class="mt-10 flex items-center justify-center gap-x-6">
					{{button.button(fields.button)}}
				</div>
			{% endif %}
      	</div>
    </div>
  </div>
</div>

