{# Preview macro #}
{% macro preview(text = 'Add content') %}
	<button class="h-full w-full min-h-[240px] bg-gray-50 flex items-center justify-center border-2 border-dashed border-gray-200">
		<span class="bg-gray-200 px-8 py-4 rounded text-gray-600 inline-flex items-center gap-2">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
			</svg>
			{{text}}
		</span>
	</button>
{% endmacro %}

