{% extends "base/block.twig" %}

{# Import macros #}
{% import "macros/buttons.twig" as button %}
{% import "macros/typography.twig" as type %}

{% block content %}

	{{type.heading(fields.heading)}}

	<div class="prose max-w-none">
		{{fields.copy|raw}}
	</div>

	<div class="flex items-center gap-x-6">
		{% for item in fields.buttons %}
			{{button.main(item.button, item.variant)}}
		{% endfor %}
	</div>

{% endblock %}
