{% extends "./blocks/wrapper-block.twig" %}

{% import "macros/typography.twig" as type %}

{% block content %}

	{{type.heading(fields.heading)}}

	<div class="prose max-w-none">
		{{fields.copy|raw}}
	</div>

	<div class="flex items-center gap-x-6">
		{% for item in fields.buttons %}
			{{include('components/button.twig', {
				data: {
					button: item.button,
					variantSize: 'lg',
					icon: 'arrow-down-circle',
					reverse: true,
					iconSize: '20'
				}
			}, with_context = false)}}

			{{button.main(item.button, item.variant)}}
		{% endfor %}
	</div>

{% endblock %}
