{% extends "base/block.twig" %}

{# Import macros #}
{% import "macros/media.twig" as media %}
{% import "macros/typography.twig" as type %}

{% block content %}
	{{media.wpimage(fields.image, 'full', 'absolute inset-0  h-full w-full object-cover z-0', is_preview)}}

	<div class="relative z-10">
		<div class="p-8">

			{{type.heading(fields.title)}}

			{% if fields.copy %}
				<div class="prose max-w-none">{{fields.copy|raw}}</div>
			{% endif %}

			{% if fields.button %}
				<div class="flex items-center gap-x-6">
					{{include('components/button.twig', {
						data: {
							button: fields.button.button,
							variantSize: 'lg',
							icon: 'arrow-down-circle',
							reverse: true,
							iconSize: '20'
						}
					}, with_context = false)}}
				</div>
			{% endif %}
		</div>

	</div>
{% endblock %}
