{# Set classes #}
{% set blockalign = 'align' ~ attributes.alignment.align|default('none') %}

{% set merged_class = [
    attributes.alignment.aligntext ? 'text-' ~ attributes.alignment.aligntext,
    classes is defined ? classes : '',
	attributes.class ? attributes.class : '',
    is_preview ? 'pointer-events-none' : '',
] | join(' ') | spaceless %}


{# Return HTML #}
<section data-section="{{ blockname }}" {{attributes.id ? 'data-anchor=' ~ attributes.id}} class="{{merged_class}}">
	<div class="{{blockalign}}">
		{% block content %}
			<p class="">Content</p>
		{% endblock %}
	</div>
</section>
