{# Set classes #}
{% set blockalign = 'align' ~ attributes.alignment.align|default('none') %}

{% set merged_class = [
    attributes.alignment.aligntext ? 'textalign' ~ attributes.alignment.aligntext : '',
    classes is defined ? classes : '',
	attributes.class ? attributes.class : '',
    is_preview ? 'pointer-events-none' : '',
] | join(' ') %}


{# Return HTML #}
<section data-section="{{ blockname }}" {{attributes.id ? 'data-anchor=' ~ attributes.id}} class="block {{merged_class}}">
	{% include "components/preview.twig" %}

	<div class="{{blockalign}} bg-gray-100">
		{% block content %}
			<p class="">Content</p>
		{% endblock %}
	</div>
</section>
