{# Include spacing macro #}
{% import "macros/spacing.twig" as spacing %}

{# Set classes #}
{% set blockalign = 'align' ~ attributes.alignment.align|default('none') %}
{% set textalign = attributes.alignment.aligntext ? 'text' ~ attributes.alignment.aligntext %}
{% set padding = spacing.padding(attributes.spacing)|spaceless %}
{% set margin = attributes.spacing.margin ? spacing.margin(attributes.spacing)|spaceless : 'my-16 md:my-20 lg:my-24 xl:my-32'%}
{% set preview = is_preview ? 'pointer-events-none' %}

{# Set main wrapper and block classes #}
{% set wrapper = [textalign, margin, spacing, customwrapper, attributes.class, preview]|join(' ')|spaceless %}
{% set block = ['block', blockalign, padding, customblock]|join(' ')|spaceless %}


{# Return HTML #}
<section data-section="{{ blockname }}" {{attributes.id ? 'data-anchor=' ~ attributes.id}} class="{{wrapper}}">
	{% include "components/preview.twig" %}

	<div class="{{block}}">
		{% block content %}
			<p>Content</p>
		{% endblock %}
	</div>
</section>
