// Grid + reset + defaults
@import 'base/config';
@import 'base/fonts';
@import 'components/buttons';
@import 'layout/block';

body {
  font-family: $body-font;
}

.editor-post-title__block .editor-post-title__input {
  font-size: $heading-large-fontsize;
}

.wp-block {
  max-width: 100%;

  h1 {
    font-family: $body-font;
    font-size: $heading-large-fontsize !important;
    line-height: $heading-line-height !important;
    margin: $heading-large-margin !important;
  }

  h2 {
    font-family: $body-font;
    font-size: $heading-medium-fontsize !important;
    line-height: $heading-line-height !important;
    margin: $heading-medium-margin !important;
    padding: 0;
  }

  h3 {
    font-family: $body-font;
    font-size: $heading-small-fontsize !important;
    line-height: $heading-line-height !important;
    margin: $heading-small-margin !important;
    padding: 0;
  }

  p {
    font-family: $body-font;
    font-size: $body-fontsize !important;
    line-height: $body-line-height !important;
    margin: $body-margin !important;
  }

  a:hover,
  a:active {
    color: $button-text;
  }
}

.wp-block[data-align='center'] {
  margin: 0 auto;
  max-width: $block-center;
}

.wp-block[data-align='wide'] {
  margin: 0 auto;
  margin-bottom: $block-margin;
  max-width: $block-wide;
}

.wp-block[data-align='full'] {
  margin-bottom: $block-margin;
  max-width: none;
}

.content {
  &.dark {
    color: $text-dark;
  }

  &.light {
    color: $text-light;
  }
}
