// Grid + reset + defaults
@import 'base/config';
@import 'base/fonts';
@import 'components/buttons';

body {
  font-family: $font;
}

.editor-post-title__block .editor-post-title__input {
  font-size: $heading-large;
}

.wp-block {
  max-width: 100%;

  p {
    font-family: $font;
    font-size: $fontsize !important;
    line-height: $line-height !important;
    margin: $margin !important;
  }
}

.wp-block[data-align='center'] {
  margin: 0 auto;
  max-width: $block-center;
}

.wp-block[data-align='wide'] {
  margin: 0 auto;
  margin-bottom: $block-margin;
  max-width: $block-wide;
}

.wp-block[data-align='full'] {
  margin-bottom: $block-margin;
  max-width: none;
}


