{# <pre class="prose max-w-none">
	{{ dump() }}
</pre> #}

{% set template = [
    ['core/heading', {
        'level': 2,
        'placeholder': 'Heading goes here.',
        'align': 'left',
        'className': 'text-3xl font-bold tracking-tight sm:text-4xl',
    }],
    ['core/paragraph', {
        'placeholder': 'Describe here.', 
        'align': 'left', 
        'className': 'mx-auto mt-6  text-lg leading-8',
    }],
	 ['core/buttons',{
		'className': 'mt-10',
	 },[
        ['core/button', {
			'placeholder': 'Get started',
			'lock': {
				'move'   : true,
				'remove' : false,
			},
			
		}],
		['core/button', {
			'placeholder': 'Get started',
			'lock': {
				'move'   : true,
				'remove' : false,
			},
		}]
    ]]
] %}

{% set allowed_blocks = [
    'core/heading', 
    'core/paragraph',
    'core/buttons',
    'core/button',
] %}


<div class="bg-white">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
	<InnerBlocks class="mx-auto max-w-4xl" template="{{template|json_encode()|escape}}" allowedblocks="{{allowed_blocks|json_encode()|escape}}"  templatelock="all"/>
  </div>
</div>
