

/* Blocks sizes in css */
.block {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	&:not(.alignwide, .alignfull) {
		max-width: 1280px;
	}

	&.aligncenter {
		max-width: 768px;
	}

	&.alignwide {
		max-width: 1536px;
	}
}

