{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: blockname,
    text: text,
    variant: variant,
    tag: tag,
  },
  classes: {
    root: classes,
  },
} %}


{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{% if props.data ?? null %}
	<div data-block-id="{{ props.data.name }}" class="block{{ props.classes.root }} {{ props.classes.custom }}">
		{{include('components/text/headline.twig', {
		data: props.data,
		classes: {
			custom: 'mt-8'
		}
	}, withContext = true)}}
	</div>
{% endif %}
