{% import "macros/media.twig" as media %}

<div class="bg-white">
	<div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
		<div class="mx-auto max-w-4xl divide-y divide-gray-900/10">
			<h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">{{fields.heading|raw}}</h2>
			<dl class="mt-10 space-y-6 divide-y divide-gray-900/10">

				{% for item in fields.faq %}
					<div data-faq class="pt-6">
						<dt>
							<button data-faq-button type="button" class="flex w-full items-start justify-between text-left text-gray-900" aria-controls="faq-0" aria-expanded="false">
								<span class="text-base font-semibold leading-7">{{item.question}}</span>
								<span class="ml-6 flex h-7 items-center">

									<svg data-faq-plus class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
									</svg>

									<svg data-faq-minus class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
										<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
									</svg>

								</span>
							</button>
						</dt>
						<dd data-faq-content class="mt-2 pr-12">
							<div class="text-base leading-7 text-gray-600">{{item.answer|raw}}</div>
						</dd>
					</div>
				{% endfor %}

			</dl>
		</div>
	</div>
</div>

