.container {
  margin: 0 auto;
  max-width: $container;
  padding: $container-padding;
  position: relative;

  .block.aligncenter & {
    max-width: $block-center;
  }

  .block.alignwide & {
    max-width: $block-wide;
  }
}

// Inside a gutenberg wp-block
.wp-block {
  &[data-align='center'],
  &[data-align='wide'],
  &[data-align='full'] {
    max-width: 100%;

    .acf-block-fields {
      margin: 0 auto;
      max-width: $container;
    }
  }

  &[data-align='center'] {
    .container {
      max-width: $block-center;
    }
  }

  &[data-align='wide'] {
    .container {
      max-width: $block-wide;
    }
  }

  &[data-align='full'] {
    .container {
      max-width: $container;
    }
  }
}
