$mobile: 640px;
$tablet: 768px;
$desktop-sm: 1024px;
$desktop-md: 1280px;
$desktop-lg: 1440px;

// container settings
$container: 1440px;
$container-padding: 0 1.5rem;

// Block sizing
$block-center: $tablet;
$block-wide: $desktop-sm;

// Font settings
$fontsize: 16px;
$font-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-heading: $font-body;

// Headings
$font-size-h1: floor(($fontsize * 3)); // 40px
$font-size-h2: floor(($fontsize * 2.5)); // 36px
$font-size-h3: ceil(($fontsize * 2)); // 24px
$font-size-h4: ceil(($fontsize * 1.5)); // 18px
$font-size-h5: $fontsize; // $fontsize
$font-size-h6: ceil(($fontsize * 0.75)); // 12px

// Colors
$white: rgb(255, 255, 255);
$gray: rgb(192, 186, 186);

// Button colors
$btn-color-one: rgb(66, 66, 223);
$btn-color-two: rgb(187, 57, 57);
$btn-color-three: rgb(98, 241, 230);
