html {
  font-size: $body-fontsize;
}

html,
button,
input,
select,
textarea {
  font-family: $body-font;
}

body {
  line-height: 160%;
}

h1 {
  font-size: $heading-large-fontsize;

}

h2 {
  font-size: $heading-medium-fontsize;
}

h3 {
  font-size: $heading-small-fontsize;
}
