html {
  font-size: $fontsize;
}

html,
button,
input,
select,
textarea {
  font-family: $font;
}

body {
  line-height: 160%;
}

h1 {
  font-size: $heading-large;
}

h2 {
  font-size: $heading-medium;
}

h3 {
  font-size: $heading-small;
}
