// BROWSER VIEWPORT SETTINGS
$desktopwide: 'screen and (min-width: 1367px)';
$desktopmedium: 'screen and (min-width: 1169px) and (max-width: 1367px)';
$desktopsmall: 'screen and (min-width: 979px) and (max-width: 1169px)';
$desktop: 'screen and (min-width: 979px)';
$smalltomedium: 'screen and (min-width: 980px) and (max-width: 1366px)';
$belowdesktop: 'screen and (max-width: 1169px)';
$tabletandup: 'screen and (min-width: 768px)';
$touch: 'screen and (max-width: 979px)';
$tablet: 'screen and (min-width: 768px) and (max-width: 979px)';
$mobile: 'screen and (max-width: 767px)';
$mobilesmall: 'screen and (max-width: 420px)';
$highdpi: 'screen and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)';

// Grid elements
* { 
  box-sizing: border-box;
}

.aligncenter {
  margin: 0 auto;
  max-width: 800px;
}

.alignwide {
  margin: 0 auto;
  max-width: 1200px;
}

.alignfull {
  width: 100%;
}

.container { 
  margin: 0 auto;
  position: relative;
  width: 100%;

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}



.hide {
  display: none;
}

.hide-desktop-wide {
  @media #{$desktopwide} { display: none !important; }
}

.hide-desktop-small {
  @media #{$desktopsmall} { display: none !important; }
}

.hide-small-to-medium {
  @media #{$smalltomedium} { display: none !important; }
}

.hide-desktop {
  @media #{$desktopwide} { display: none !important; }
  @media #{$desktop} { display: none !important; }
}

.hide-touch {
  @media #{$touch} {
    display: none !important;
  }
}

.hide-tablet {
  @media #{$tablet} {
    display: none !important;
  }
}

.hide-mobile {
  @media #{$mobile} {
    display: none !important;
  }
}

.hide-on-desktop {  
  @media #{$desktop} {
    height: 0;
    visibility: hidden;
  }
}

.pull-right {
  float: right;
}

img > .alignright { float: right; margin: 0 0 1rem 1rem; }
img > .alignleft { float: left; margin: 0 1rem 1rem 0; }
img > .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

