// BROWSER VIEWPORT SETTINGS
$desktopwide: 'screen and (min-width: 1367px)';
$desktopmedium: 'screen and (min-width: 1169px) and (max-width: 1367px)';
$desktopsmall: 'screen and (min-width: 979px) and (max-width: 1169px)';
$desktop: 'screen and (min-width: 979px)';
$smalltomedium: 'screen and (min-width: 980px) and (max-width: 1366px)';
$belowdesktop: 'screen and (max-width: 1169px)';
$tabletandup: 'screen and (min-width: 768px)';
$touch: 'screen and (max-width: 979px)';
$tablet: 'screen and (min-width: 768px) and (max-width: 979px)';
$mobile: 'screen and (max-width: 767px)';
$mobilesmall: 'screen and (max-width: 420px)';
$highdpi: 'screen and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)';

// Grid elements
* { 
  box-sizing: border-box;
}

.container { 
  margin: 0 auto;
  position: relative;
  width: 980px;

  &::after {
    clear: both;
    content: '';
    display: table;
  }
  
  @media #{$desktopwide} { width: 1004px; }
  @media #{$tablet} { width: 728px; }
  @media #{$mobile} { 
    padding: 0 20px;
    width: 100%;
  }

  &--centered {
    text-align: center;
  }

  &--slim {
    width: 100% !important;
  }

  .boxed {
    margin: 0 auto;
    width: 77%;

    @media #{$mobile} {
      width: 100%;
    }
  }
}



.hide {
  display: none;
}



// Set the columns
.column__2-3 { width: 65.55554%; }

.column__3-4 { width: 74.1%; }
.column__2-4 { width: 48.3334%; }

.column__1-5 { width: 16.666667%; }
.column__2-5 { width: 38.222227%; }
.column__3-5 { width: 56.666667%; }

.column__1-6 { width: 13.33333334%; }
.column__2-6 { width: 30%; }

.column__1-4 {
  width: 22.5%; 

  &:nth-child(4n+1) {
    clear: both;
    margin-left: 0;
  }
}

.column__1-3 {
  width: 31.1111067%; 

  &:nth-child(3n+1) {
    clear: both;
    margin-left: 0;
  }
}

.column__1-2 { 
  margin-left: 0;
  width: 48.33334%;

  &:nth-child(2n+1) {
    clear: both;
    margin-left: 0;
  }

  @media #{$mobile} {
    margin-left: 0;
    width: 100%;
  }
}

.column__40 {
  width: 40%;
}

.column__60 {
  margin-left: 0 !important;
  width: 60%;
}

[class*='column__'] { 
  float: left;
  margin-left: 3.33334%;
  min-height: 1px;

  &:first-child,
  &.first-item {
    margin-left: 0 !important;
  }

  @media #{$mobile} {  
    margin: 0;
    width: 100%;
  }
}


@media #{$mobile} {
  [class*='span'] {
    margin-left: 0 !important;
  }
}

.hide-desktop-wide {
  @media #{$desktopwide} { display: none !important; }
}

.hide-desktop-small {
  @media #{$desktopsmall} { display: none !important; }
}

.hide-small-to-medium {
  @media #{$smalltomedium} { display: none !important; }
}

.hide-desktop {
  @media #{$desktopwide} { display: none !important; }
  @media #{$desktop} { display: none !important; }
}

.hide-touch {
  @media #{$touch} {
    display: none !important;
  }
}

.hide-tablet {
  @media #{$tablet} {
    display: none !important;
  }
}

.hide-mobile {
  @media #{$mobile} {
    display: none !important;
  }
}

.hide-on-desktop {  
  @media #{$desktop} {
    height: 0;
    visibility: hidden;
  }
}

.pull-right {
  float: right;
}

img > .alignright { float: right; margin: 0 0 1rem 1rem; }
img > .alignleft { float: left; margin: 0 1rem 1rem 0; }
img > .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
