// Media Query settings
$desktopwide: 'screen and (min-width: 1367px)';
$desktopmedium: 'screen and (min-width: 1169px) and (max-width: 1367px)';
$desktopsmall: 'screen and (min-width: 979px) and (max-width: 1169px)';
$desktop: 'screen and (min-width: 979px)';
$smalltomedium: 'screen and (min-width: 980px) and (max-width: 1366px)';
$belowdesktop: 'screen and (max-width: 1169px)';
$tabletandup: 'screen and (min-width: 768px)';
$touch: 'screen and (max-width: 979px)';
$tablet: 'screen and (min-width: 768px) and (max-width: 979px)';
$mobile: 'screen and (max-width: 767px)';


// Screen width based classes
.hide--desktop-wide {
  @media #{$desktopwide} { display: none !important; }
}

.hide--desktop-small {
  @media #{$desktopsmall} { display: none !important; }
}

.hide--small-to-medium {
  @media #{$smalltomedium} { display: none !important; }
}

.hide--desktop {
  @media #{$desktopwide} { display: none !important; }
  @media #{$desktop} { display: none !important; }
}

.hide--touch {
  @media #{$touch} {
    display: none !important;
  }
}

.hide--tablet {
  @media #{$tablet} {
    display: none !important;
  }
}

.hide--mobile {
  @media #{$mobile} {
    display: none !important;
  }
}
