{% extends "base/base.twig" %}
{% import "macros/icons.twig" as icon %}


{% block content %}
	<div class="text-blue-500 p-8">
		{{ icon.icon('academic-cap') }}
		{{ icon.icon('academic-cap', { width: 64 }) }}
		{{ icon.icon('academic-cap', {class: 'text-green-500'}) }}
	</div>

	{{object.get_content()|raw}}
{% endblock %}
