{% extends "base/base.twig" %}
{% from 'macros/icons.twig' import icon  %}

{% block content %}
	<div class="p-20 bg-red-500 prose ">SLLorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet incidunt sunt ipsa eum debitis illum totam perferendis doloribus cumque temporibus atque optio, exercitationem neque arcdhitecto. Recusandae necessitatibus omnis tenetur ullam.</div>

	{{object.get_content()|raw}}
{% endblock %}
