{# 
    ====================================================================
    Name:           single.twig
    Type:           Page (default template)
    Since:          0.0.1
    Description:    The default single template
    Available vars: page, site
    ====================================================================
#}

{% extends "base/base.twig" %}

{% block content %}
	<div class="block-wrapper">
		<div>
			<h1 class="text-7xl font-bold">{{object.get_title()}}</h1>
		</div>
		{{object.get_content()|raw}}
	</div>
{% endblock %}
