{% extends "./wpblocks/wrapper-block.twig" %}

{% block content %}

	{{include('includes/heading.twig', { 
		data: { 
			text: fields.heading.text, 
			type: fields.heading.type 
		}
	}, with_context = false)}}

	<div class="prose">{{fields.copy|raw}}</div>

	<dl class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
		{% for item in fields.stats %}
			<div class="">
				<dd class="">{{item.heading}}</dd>
				<dt class="prose max-w-none">{{item.copy|raw}}</dt>
			</div>
		{% endfor %}
	</dl>
{% endblock %}
