{% import "macros/media.twig" as media %}

{% set alignment = {
	'none' : 'max-w-5xl',
	'wide' : 'max-w-7xl',
	'full' : 'max-w-none'
} %}

<div data-block-id="{{ blockname }}" class="relative my-32">
	<div class="mx-auto {{alignment[attributes.alignment.align|default('none')]}}">
		<div class="relative">
			{{media.wpimage(fields.image, 'full', '', is_preview)}}
		</div>
	</div>
</div>
