{% block head %}

<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
        <title>{{ global.page.title }}</title>
        {{wp_head|raw}}
    </head>
    <body>

{% endblock %}