{% extends "./wpblocks/wrapper-block.twig" %}

{% block content %}

	{{include('includes/heading.twig', { 
		data: { 
			text: fields.heading.text, 
			type: fields.heading.type 
		},
	}, with_context = false)}}

	<div class="prose max-w-none">
		{{fields.copy|raw}}
	</div>

	<div class="flex items-center gap-x-6">
		{% for item in fields.buttons %}
			{{include('includes/button.twig', {
				data: {
					button: item.button,
					variantSize: 'lg',
					icon: 'arrow-down-circle',
					reverse: true,
					iconSize: '20'
				}
			}, with_context = false)}}
		{% endfor %}
	</div>

{% endblock %}
