{% import "macros/media.twig" as media %}

<div data-block-id="{{ blockname }}" class="{{container[block.alignment]}} {{class}}">
	{% include "components/preview.twig" %}

	<div class="bg-gray-100">This is our block:
		{{blockname}}
	</div>
</div>
