{% import "macros/media.twig" as media %}

<div data-block-id="{{ blockname }}" class="{{container[block.alignment]}} {{class}}">
	<div class="bg-gray-100">This is our block: {{blockname}}</div>
</div>